@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap"); /* По-добре е шрифтовете да се изпортват в CSS-а, вместо да се слагат като линк на всяка html страница. */

/* Версия за мобилно устройство. Използваме подхода mobile device first. */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* Правим така, че футъра да стои винаги най-долу, независимо от мащаба на страницата. */
main {
  min-height: calc(
    100vh - 3.5rem - 2.2rem
  ); /* За целта калкулираме min-height на майн елемента като от 100vh изваждаме височината на хедъра и височината на футъра */
  margin-top: 3.5rem;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

#product-overview {
  position: relative;
  z-index: -1;
  /* background: url("freedom.jpg"); */
  /* background-image: linear-gradient(to left bottom, red, blue); */
  /* background-image: linear-gradient(30deg, red -10%, green 70%, yellow, orange); */
  /* background-image: linear-gradient(30deg, red, transparent); */
  /* background-image: radial-gradient(red, transparent); */
  /* background-image: radial-gradient(circle at top right, red, transparent); */
  /* background-image: radial-gradient(ellipse 20px 30px at 20% 50%, red, green); */
  /* background-image: radial-gradient(
    ellipse farthest-side at 20% 50%,
    red,
    green
  ); */
  /* farthest-side - това означава, че последния цвят на градиента ще се разтегли до -най-далечната граница- на елемента на който градиента е приложен. 
   - Можем да зададем и closest-side. Тогава последният цвят на градиента ще се разтегли до -най-бизката граница- на елемента на който градиента е приложен. 
   - closest-corner - до най-бизкия ъгъл. 
   - farthest-corner - до най-далечния ъгъл. */
  /* background-image: radial-gradient(circle at 20% 50%, red, transparent); */
  /* background-size: cover; */
  /* background-position: 0px -100px; */
  /* Първата стойност контролира хоризонталното изместване, втората - ертикалното. */
  /* width: 100%;
  height: 528px;
  padding: 10px;
  margin-top: 30px; */
}

/* Можем да задаваме повече от едно изображение за фон елемента, както и повече от един цвят или градиент и да ги наслагваме едно върху друго. */
#product-overview {
  /* background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("freedom.jpg"), red; */

  background: url("freedom.jpg");

  /* background-size: cover; */
  background-position: -150px -180px;

  width: 100%;
  height: 528px;
  padding: 10px;
  margin-top: 10px;
}

#product-overview h1 {
  position: absolute;
  bottom: 0px;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 1.6rem;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.premium {
  margin-bottom: 100px;
}

ul li {
  list-style-type: none;
  margin: 8px 0;
}

ul {
  margin: 0;
  padding: 0;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: none;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-feature__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto; /* Центрира елементите хоризонтално */
  padding: 20px;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
}

.main-header__brand img {
  height: 40px;
  vertical-align: middle;
}

.main-nav {
  text-align: right;
  width: calc(100% - 45px);
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  margin-right: 20px;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid #0e4f1f;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover {
  color: #ff1b68;
  background: white;
  border: none;
}

.main-footer {
  background: black;
  padding: 32px;
  /* margin-top: 48px; */
}

.main-footer nav {
  vertical-align: middle;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  margin-top: 50px;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

/* Версия за компютър */
/* @media (min-width: 40rem) and (min-height: 60rem) {} - може и така. Тогава условието ще се изпълни ако резолюцията е в тези граници. */
@media (min-width: 40rem) and (orientation: portrait) {
}
@media (min-width: 40rem), (orientation: portrait) {
} /* Ако едно от двете условия е изпълнено. */

@media (min-width: 40rem) {
  .main-nav {
    display: inline-block;
  }

  .main-nav__items {
    display: inline-block;
  }

  .toggle-button {
    display: none;
  }

  #product-overview {
    background-position: 80px -180px;
  }

  #product-overview h1 {
    font-size: 3rem;
  }

  .plan_list {
    text-align: center;
    width: 100%;
    margin: auto;
    /* Когато искаме да центрираме елементи на страницата, слагаме ги в div и даваме margin: auto. */
  }

  .plan {
    display: inline-block;
    width: 30%; /* Ако приложим само display: inline-block; няма да се случи нищо, защото по-нагоре, в css-а за мобилно устройство сме казали width: 100%; Няма как да станат едно до друго при това положение. Трябва да променим и width за да се получи.*/
    vertical-align: middle;
    min-width: 13rem;
    max-width: 23.3rem;
  }
}

@media (min-width: 40rem) and (orientation: landscape) {
  #product-overview {
    background-position: 0px -180px;
    height: 250px;
  }

  #product-overview h1 {
    font-size: 2rem;
  }
}

@media (max-width: 29rem) {
  .key-feature {
    display: block;
    margin: auto;
    width: 100%;
  }
}
